#browseButton {
  background-color: #4CAF50; /* Green background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  margin: 10px; /* Margin */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
}

#browseButton:hover {
  background-color: #45a049; /* Darker green on hover */
}

#dropZone {
  border: 2px dashed #ccc; /* Dashed border */
  border-radius: 5px; /* Rounded corners */
  padding: 20px; /* Padding */
  text-align: center; /* Centered text */
  margin: 10px 0; /* Margin */
  font-size: 16px; /* Font size */
  color: #888; /* Text color */
}

#dropZone.dragover {
  border-color: #4CAF50; /* Green border when dragging over */
}

button {
  background-color: #008CBA; /* Blue background */
  color: white; /* White text */
  padding: 10px 20px; /* Padding */
  margin: 10px; /* Margin */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer; /* Pointer cursor on hover */
  font-size: 16px; /* Font size */
}

button:hover {
  background-color: #007BB5; /* Darker blue on hover */
}
